apiVersion: v1
current-cluster: gsp321
clusters:
- name: gsp321
  cluster:
    api-version: v1
		server: "https://${server}"
		insecure-skip-tls-verify: true
		user: gsp321
users:
- name: gsp321
  user:
	  token: "${token}"
