apiVersion: v1
kind: Config
current-context: gsp321
clusters:
- name: gsp321
  cluster:
    api-version: v1
    server: "https://${server}"
    insecure-skip-tls-verify: true
    user: gsp321
users:
- name: gsp321
  user:
    token: "${token}"
contexts:
- name: gsp321
  context:
    cluster: gsp321
    namespace: default
    user: gsp321
